@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;900&display=swap');

.custom-cursor {
  cursor: none; 
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
}

.custom-spin-animation {
  animation-name: spin;
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  top: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

#profile{filter: grayscale(100%);}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.typed-cursor{
  opacity: 0;
}